<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 端末標準の時計アプリにアラームを登録するための権限 -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <queries>
        <package android:name="jp.naver.line.android" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NoteActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".TodoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".DrawActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name=".FileShareProvider"
            android:authorities="com.yyoossk.memo.files"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>
